{% extends 'front/main.html' %}
{% load static %}
{% block meta_tags %}
<title>Affiliate Program | AIHumanize.com</title>
<meta property="og:title" content="Affiliate Program | AIHumanize.com" />
<meta property="og:type" content="website" />

{% endblock %}
{% block content %}
<main class="flex-grow-1">
    <!-- Hero -->
    <!-- Hero -->
    <section class="hero-section style-2 position-relative py-10 py-lg-15">
        <div class="container">
            <div class="row justify-center">
                <div class="col-lg-9">
                    <div class="text-center">
                        <div class="position-relative z-1">
                            <p class="text-primary aos-init aos-animate " data-aos="fade-up-sm">
                                AFFILIATE PROGRAM
                            </p>
                            <h1 class="text-dark mb-8 aos-init aos-animate" data-aos="fade-up-sm" data-aos-delay="150">
                                Earn 20% Commission From Your<br>

                                <span class="fw-bold text-gradient-1">Every Referral</span>
                            </h1>
                            <a href="https://affiliate.aihumanize.com/" target="_blank"
                                class="btn btn-lg btn-gradient-1 aos-init aos-animate" data-aos="fade-up-sm"
                                data-aos-delay="200">Become a Partner</a>
                        </div>
                    


                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Features -->
    <section class="features-section has-blurry-shape position-relative overflow-hidden py-10 py-lg-15 ">
        <div class="blurry-shape">
            <img src="assets/images/shapes/blurry-shape-3.svg" alt="" class="img-fluid" />
        </div>
        <div class="container">
            <div class="text-center mb-18">
                <h1 class=" mb-0" data-aos="fade-up-sm" data-aos-delay="50">
                    How the Affiliate Program Works

                </h1>
            </div>

            <div class="row row-cols-1 row-cols-lg-3 g-6 g-xl-14">
                <div class="col" data-aos="fade-up-sm" data-aos-delay="100">
                    <div class="d-flex flex-column flex-lg-row gap-6">
                        <div
                            class="icon w-14 h-14 flex-shrink-0 d-flex align-center justify-center rounded-3 p-2 border bg-primary bg-opacity-10 text-primary border-primary border-opacity-25">
                            <h4 class="mb-0">01</h4>
                        </div>
                        <div class="content">
                            <h4 class=" mb-4">Sign Up For Affiliate Program</h4>
                            <p>
                                Sign up for the AIHumanize.com affiliate program through our user-friendly registration
                                process.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col" data-aos="fade-up-sm" data-aos-delay="150">
                    <div class="d-flex flex-column flex-lg-row gap-6">
                        <div
                            class="icon w-14 h-14 flex-shrink-0 d-flex align-center justify-center rounded-3 p-2 border bg-primary bg-opacity-10 text-primary border-primary border-opacity-25">
                            <h4 class="mb-0">02</h4>
                        </div>
                        <div class="content">
                            <h4 class=" mb-4">Receive And Share Your Link</h4>
                            <p>
                                Receive a unique referral link and share your referral link on your website, social
                                media, or through email campaigns to promote AIHumanize.com.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col" data-aos="fade-up-sm" data-aos-delay="200">
                    <div class="d-flex flex-column flex-lg-row gap-6">
                        <div
                            class="icon w-14 h-14 flex-shrink-0 d-flex align-center justify-center rounded-3 p-2 border bg-primary bg-opacity-10 text-primary border-primary border-opacity-25">
                            <h4 class="mb-0">03</h4>
                        </div>
                        <div class="content">
                            <h4 class=" mb-4">Earn Commissions</h4>
                            <p>
                                Earn a commission for each new user who signs up and subscribes to one of our plans
                                using your referral link.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-center mt-12">
                <a href="https://affiliate.aihumanize.com/" target="_blank" class="btn btn-primary">Sign Up Now</a>
            </div>
        </div>
    </section>


    <!-- Features -->
    <section class="py-10 py-lg-15 ">
        <div class="container">
            <div class="bg-lite-blue rounded-4 p-6 p-md-12 px-xl-20 py-xl-12 hover-border mb-18">
                <div class="row g-6 g-lg-14 g-xl-20 align-center">
                    <div class="col-lg-6" data-aos="fade-up-sm" data-aos-delay="50">
                        <div class="content">
                            <p class="text-primary">Commission</p>
                            <h1 class=" mb-8">
                                20% commission on any plan subscribed to by your referrals.
                            </h1>
                            <p class="mb-6">
                                You get commissions for every first purchase, renewal, and upgrade made through your
                                links.
                            </p>
                            <ul class="list-unstyled list-check mb-8">
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18"
                                        class="icon">
                                        <g>
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                                stroke-width="1.5" d="m3.75 9 3.75 3.75 7.5-7.5" />
                                        </g>
                                    </svg>
                                    <span>Commissions are paid out monthly via Wise or direct bank transfer.</span>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18"
                                        class="icon">
                                        <g>
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                                stroke-width="1.5" d="m3.75 9 3.75 3.75 7.5-7.5" />
                                        </g>
                                    </svg>
                                    <span>Continue to earn commissions indefinitely until the referred user cancels
                                        their subscription.</span>
                                </li>

                            </ul>
                            <a href="https://affiliate.aihumanize.com/"
                            target="_blank"
                                class="arrow-link arrow-link-primary text-primary gap-3">
                                <span>Get Started</span>
                                <svg class="icon" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4 12.6667L12.6667 4M12.6667 4V12.32M12.6667 4H4.34667"
                                        stroke="currentColor" stroke-width="1.21" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6" data-aos="fade-up-sm" data-aos-delay="100">
                        <div class="feature-img">
                            <img src="{% static 'assets/images/commision.jpg' %}" alt=""
                                class="img-fluid" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-lite-blue rounded-4 p-6 p-md-12 px-xl-20 py-xl-12 hover-border mb-18">
                <div class="row g-6 g-lg-14 g-xl-20 align-center flex-row-reverse">
                    <div class="col-lg-6" data-aos="fade-up-sm" data-aos-delay="50">
                        <div class="content">
                            <p class="text-primary">Cookie</p>
                            <h1 class=" mb-8">
                                Long Cookie Duration

                            </h1>
                            <p class="mb-6">
                                We offer a generous 60-day cookie duration, making sure you'll have ample time and more
                                flexibility to earn commissions.
                            </p>
                            <a href="https://affiliate.aihumanize.com/"
                            target="_blank"
                                class="arrow-link arrow-link-primary text-primary gap-3">
                                <span>Sign Up Now</span>
                                <svg class="icon" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4 12.6667L12.6667 4M12.6667 4V12.32M12.6667 4H4.34667"
                                        stroke="currentColor" stroke-width="1.21" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6" data-aos="fade-up-sm" data-aos-delay="100">
                        <div class="feature-img">
                            <img src="{% static 'assets/images/cookie.jpg' %}" alt=""
                                class="img-fluid" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-lite-blue rounded-4 p-6 p-md-12 px-xl-20 py-xl-12 hover-border">
                <div class="row g-6 g-lg-14 g-xl-20 align-center">
                    <div class="col-lg-6" data-aos="fade-up-sm" data-aos-delay="50">
                        <div class="content">
                            <p class="text-primary">Dashboard</p>
                            <h1 class=" mb-8">
                                Affiliate Dashboard


                            </h1>
                            <p class="mb-6">
                                An affiliate dashboard is a tool that allows affiliates to track their performance and
                                earnings in real-time. It
                                provides an overview of the affiliate's account, including clicks, conversions,
                                commissions, and payouts.
                            </p>
                            <ul class="list-unstyled list-check mb-8">
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18"
                                        class="icon">
                                        <g>
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                                stroke-width="1.5" d="m3.75 9 3.75 3.75 7.5-7.5" />
                                        </g>
                                    </svg>
                                    <span>Monitor your progress with our intuitive affiliate dashboard, featuring
                                        real-time statistics.</span>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18"
                                        class="icon">
                                        <g>
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                                stroke-width="1.5" d="m3.75 9 3.75 3.75 7.5-7.5" />
                                        </g>
                                    </svg>
                                    <span>Track your referrals, conversions, and commissions with ease.</span>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18"
                                        class="icon">
                                        <g>
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                                stroke-width="1.5" d="m3.75 9 3.75 3.75 7.5-7.5" />
                                        </g>
                                    </svg>
                                    <span>Update your account information and payment preferences seamlessly.</span>
                                </li>
                            </ul>
                            <a href="https://affiliate.aihumanize.com/"
                            target="_blank"
                                class="arrow-link arrow-link-primary text-primary gap-3">
                                
                                <span>Get Started</span>
                                <svg class="icon" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4 12.6667L12.6667 4M12.6667 4V12.32M12.6667 4H4.34667"
                                        stroke="currentColor" stroke-width="1.21" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6" data-aos="fade-up-sm" data-aos-delay="100">
                        <div class="feature-img">
                            <img src="{% static 'assets/images/dashboard.svg' %}" alt=""
                                class="img-fluid" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Use cases -->



    <!-- App users -->



    <!-- Reviews -->



    <!-- Pricing -->



    <!-- FAQ -->
    <section class="py-10 py-lg-15">
        <div class="container">
            <div class="row justify-center mb-18">
                <div class="col-lg-10">
                    <div class="text-center">
                        <h1 class="mb-0 " data-aos="fade-up-sm" data-aos-delay="50">
                            Questions About our affiliate program? <br class="d-none d-md-block" />
                            We have Answers!
                        </h1>
                    </div>
                </div>
            </div>

            <div class="row justify-center">
                <div class="col-lg-8" data-aos="fade-up-sm" data-aos-delay="100">
                    <div class="accordion accordion-flush d-flex flex-column gap-6" id="faqAccordion">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#faq-collapseOne" aria-expanded="false"
                                    aria-controls="faq-collapseOne">
                                    <span class="icon"></span>
                                    Who can apply for AIHumanize.com's affiliate program?
                                </button>
                            </h2>
                            <div id="faq-collapseOne" class="accordion-collapse collapse show"
                                data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    Whether you're a website owner, blogger, online educator, or influencer, you can
                                    sign up for our affiliate program and
                                    make money.
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#faq-collapseTwo" aria-expanded="false"
                                    aria-controls="faq-collapseTwo">
                                    <span class="icon"></span>
                                    How to track my earnings?

                                </button>
                            </h2>
                            <div id="faq-collapseTwo" class="accordion-collapse collapse"
                                data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    Once you've signed up for our affiliate program, you'll be able to access your
                                    affiliate dashboard, where you can keep
                                    track of your referral link clicks and conversions.
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#faq-collapseThree" aria-expanded="false"
                                    aria-controls="faq-collapseThree">
                                    <span class="icon"></span>
                                    When and how will I get paid?

                                </button>
                            </h2>
                            <div id="faq-collapseThree" class="accordion-collapse collapse"
                                data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    We process payouts on the 15th of each month for all commissions you earned during
                                    the last month. And you have the
                                    flexibility to receive payouts through Wise, bank transfer or contact us to add
                                    other payment methods.
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#faq-collapseFour" aria-expanded="false"
                                    aria-controls="faq-collapseFour">
                                    <span class="icon"></span>
                                    Can I get a commission if my referred customer renews or upgrades their
                                    subscription?
                                </button>
                            </h2>
                            <div id="faq-collapseFour" class="accordion-collapse collapse"
                                data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    Yes, you can get a commission for every renewal or upgrade if the customer made the
                                    purchase through your referral link.
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#faq-collapseFive" aria-expanded="false"
                                    aria-controls="faq-collapseFive">
                                    <span class="icon"></span>
                                    What is your minimum payout threshold?

                                </button>
                            </h2>
                            <div id="faq-collapseFive" class="accordion-collapse collapse"
                                data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    The minimum payout amount of the AIHumanize.com affiliate program is $100.

                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#faq-collapseSix" aria-expanded="false"
                                    aria-controls="faq-collapseSix">
                                    <span class="icon"></span>
                                    What assets do you offer for your affiliates to promote AIHumanize.com?


                                </button>
                            </h2>
                            <div id="faq-collapseSix" class="accordion-collapse collapse"
                                data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    Yes, we provide a variety of promotional materials for our affiliates, including
                                    product banners, demo videos, etc.
                                    Click here to view and get all these assets!

                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#faq-collapseSeven" aria-expanded="false"
                                    aria-controls="faq-collapseSeven">
                                    <span class="icon"></span>
                                    What if my referred customer cancels their purchase?



                                </button>
                            </h2>
                            <div id="faq-collapseSeven" class="accordion-collapse collapse"
                                data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    If for any reason the customer cancels their purchase or gets a refund, your earned
                                    commission for that person will be
                                    deducted from your account.

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- CTA -->


</main>
{% endblock %}