{% extends 'front/main.html' %} {% load static %} 
{% block meta_tags %}

<title>Advanced AI Writer - Create Original, Engaging Content | AIHumanize.com</title>
<meta name="description"
  content="Discover AIHumanize.com, an advanced AI writer tool. Effortlessly create original, engaging content for articles, essays, and more." />
<meta property="og:title" content="Advanced AI Writer - Create Original, Engaging Content | AIHumanize.com" />
<meta property="og:description"
  content="Discover AIHumanize.com, an advanced AI writer tool designed to effortlessly create original, engaging content for a variety of needs." />

<meta property="og:type" content="website" />
<meta property="og:url" content="https://aihumanize.com/ai-content-writer" />
<style>
  .ghost-box.disabled {
  /* Your styles for disabled mode */
  opacity: 0.5; /* Example style */
   
  /* Other styles as needed */
}

                  .st0 {
                    fill: none;
                    stroke: #9884FF;
                    stroke-width: 2;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-miterlimit: 10;
                  }

                  .st1 {
                    fill: none;
                    stroke: white;
                    stroke-width: 2;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                  }

                  .st2 {
                    fill: none;
                    stroke: white;
                    stroke-width: 2;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-dasharray: 5.2066, 0;
                  }
       

</style>
{% endblock %}

{% block content %}
<!-- Your HTML code here -->
<main class="flex-grow-1">
  <!-- Hero -->
  <!-- Hero -->
<section class="hero-section style-2 position-relative py-10 py-lg-15">
  <div class="striped-shape">
    <img src="{% static 'assets/images/shapes/stripe-lite.svg' %}" alt="" />
  </div>
  <div class="container">
    <div class="row align-center">
      <div class="col-lg-5">
        <div class="text-center text-lg-start position-relative z-1">
          <p class="text-primary" data-aos="fade-up-sm" data-aos-delay="50">
            <span class="border px-4 py-2 rounded-3 d-inline-block">Best AI Copywriting Tool</span>
          </p>
          <h1 class=" mb-8" data-aos="fade-up-sm" data-aos-delay="100">
            Create better content in less time; the future of
            <span class="text-primary">AI writing</span>
            tools is arrived.
          </h1>
          <form action="#" class="pe-xl-10" data-aos="fade-up-sm" data-aos-delay="150">
            <div class="input-group with-icon">
            {% if user.is_authenticated %}
              <a class="btn btn-primary px-4" href="{% url 'editor' %}">
                GO TO DASHBOARD
                
              </a>
            {% else %}
              <a class="btn btn-primary px-4" href="{% url 'account_signup' %}">
                Sign Up Free
              </a>

            {% endif %}


            </div>
          </form>
        
        </div>
      </div>
      <div class="col-lg-7" data-aos="fade-up-sm" data-aos-delay="200">
        <div class="image-with-shape">
          <img src="{% static 'assets/images/shapes/blurry-shape-2.svg' %}" alt="" class="shape animate-scale" />
          <div class="mt-12 rounded-4 border shadow-lg overflow-hidden">
            <img class="img-fluid d-inline-block" src="{% static 'assets/images/content_writer.png' %}" alt="" />
          </div>
        </div>
      </div>
    </div>


  </div>
</section>


  <!-- Features -->
  <section class="features-section has-blurry-shape position-relative overflow-hidden py-10 py-lg-15">
    <div class="blurry-shape">
      <img src="{% static 'assets/images/shapes/blurry-shape-3.svg' %}" alt="" class="img-fluid" />
    </div>
    <div class="container">
      <div class="text-center mb-18">
        <h1 class="mb-0" data-aos="fade-up-sm" data-aos-delay="50">
          A advanced yet easy-to-use tool for


          <br class="d-none d-lg-block" />
          writers and content creators.
        </h1>
      </div>

      <div class="row row-cols-1 row-cols-lg-3 g-6 g-xl-14">
        <div class="col" data-aos="fade-up-sm" data-aos-delay="100">
          <div class="d-flex flex-column flex-lg-row gap-6">
            <div
              class="icon w-14 h-14 flex-shrink-0 d-flex align-center  justify-center rounded-3  border bg-primary bg-opacity-10 text-primary border-primary border-opacity-25">
            <h4 class="mb-0">01</h4>
            </div>
            <div class="content">
              <h4 class="mb-4">All-in-One Content Generation: Humanize and AI Detection
              </h4>
              <p>
              Elevate your writing with automatic content generation, humanize text, and built-in AI originality checks.

              </p>
            </div>
          </div>
        </div>
        <div class="col" data-aos="fade-up-sm" data-aos-delay="150">
          <div class="d-flex flex-column flex-lg-row gap-6">
            <div
              class="icon w-14 h-14 flex-shrink-0 d-flex align-center justify-center rounded-3 border bg-primary bg-opacity-10 text-primary border-primary border-opacity-25">
            <h4 class="mb-0">02</h4>
            </div>
            <div class="content">
              <h4 class="mb-4">Extend Mode: Effortless Content Expansion
              </h4>
              <p>
                Easily expand your ideas: select text, hit 'Extend', and watch as our AI writer seamlessly adds well-integrated, relevant
                paragraphs.
              </p>
            </div>
          </div>
        </div>
        <div class="col" data-aos="fade-up-sm" data-aos-delay="200">
          <div class="d-flex flex-column flex-lg-row gap-6">
            <div
              class="icon w-14 h-14 flex-shrink-0 d-flex align-center justify-center rounded-3  border bg-primary bg-opacity-10 text-primary border-primary border-opacity-25">
            <h4 class="mb-0">03</h4>
            </div>
            <div class="content">
              <h4 class="mb-4">Multilingual Support: Write in Your Preferred Language


              </h4>
              <p>
              Write confidently in multiple languages with our AI writer, user-friendly multilingual capabilities.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="text-center mt-12">
        <a href="{% url 'account_signup' %}" class="btn btn-primary">Sign up for Free</a>
      </div>
    </div>
  </section>

  <!-- Features -->
  <section class="py-10 py-lg-15">
    <div class="container">
      <div class="bg-lite-blue rounded-4 p-6 p-md-12 px-xl-20 py-xl-12 hover-border mb-18">
        <div class="row g-6 g-lg-14 g-xl-20 align-center">
          <div class="col-lg-6" data-aos="fade-up-sm" data-aos-delay="50">
            <div class="content">
              <p class="text-primary">AI Writer</p>
              <h1 class="mb-8">
                Intuitive Interface: Tailor-Made Content Creation
              </h1>
              <p class="mb-6">
                Craft personalized content with ease. Our intuitive interface lets you input your topic, choose templates, set the
                language and tone, and input keywords.
              </p>
              <ul class="list-unstyled list-check mb-8">
                <li>
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18" class="icon">
                    <g>
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                        d="m3.75 9 3.75 3.75 7.5-7.5" />
                    </g>
                  </svg>
                  <span>Topic Entry: Begin with your subject; our system guides you to clarity and relevance.</span>
                </li>
                <li>
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18" class="icon">
                    <g>
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                        d="m3.75 9 3.75 3.75 7.5-7.5" />
                    </g>
                  </svg>
                  <span>Template Selection: Choose a template that sets the structure for your piece's intended purpose.</span>
                </li>
                <li>
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18" class="icon">
                    <g>
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                        d="m3.75 9 3.75 3.75 7.5-7.5" />
                    </g>
                  </svg>
                  <span>Select the language and tone to match your audience and message.</span>
                </li>
                <li>
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18" class="icon">
                    <g>
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                        d="m3.75 9 3.75 3.75 7.5-7.5" />
                    </g>
                  </svg>
                  <span>Keyword Integration: Incorporate critical keywords to optimize your content for search relevance.</span>
                </li>
              </ul>
              <a href="{% url 'account_signup' %}" class="arrow-link arrow-link-primary text-primary gap-3">
                <span>Get Started Free</span>
                <svg class="icon" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M4 12.6667L12.6667 4M12.6667 4V12.32M12.6667 4H4.34667" stroke="currentColor"
                    stroke-width="1.21" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </a>
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up-sm" data-aos-delay="100">
            <div class="feature-img">
              <img src="{% static 'assets/images/settings_easy.svg' %}" style="height: 527px;" alt=""
                class="img-fluid" />
            </div>
          </div>
        </div>
      </div>
      <div class="bg-lite-blue rounded-4 p-6 p-md-12 px-xl-20 py-xl-12 hover-border mb-18">
        <div class="row g-6 g-lg-14 g-xl-20 align-center flex-row-reverse">
          <div class="col-lg-6" data-aos="fade-up-sm" data-aos-delay="50">
            <div class="content">
              <p class="text-primary">AI Writer: Extend mode</p>
              <h1 class="mb-8">
                Extend Content: Unlimited Writing Potential
              </h1>
              <p class="mb-6">
              Elevate your writing with our Extend Content feature, designed to push past the limitations of traditional AI models.
              Create extensive, detailed narratives without word count constraints, ensuring your ideas are fully developed and your
              narratives remain engaging, no matter the length.
              </p>
              <a href="{% url 'account_signup' %}" class="arrow-link arrow-link-primary text-primary gap-3">
                <span>Get Started Free</span>
                <svg class="icon" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M4 12.6667L12.6667 4M12.6667 4V12.32M12.6667 4H4.34667" stroke="currentColor"
                    stroke-width="1.21" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </a>
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up-sm" data-aos-delay="100">
            <div class="feature-img">
              <img src="{% static 'assets/images/extend-ai-writer.gif' %}" alt=""
                class="img-fluid" />
            </div>
          </div>
        </div>
      </div>
      <div class="bg-lite-blue rounded-4 p-6 p-md-12 px-xl-20 py-xl-12 hover-border">
        <div class="row g-6 g-lg-14 g-xl-20 align-center">
          <div class="col-lg-6" data-aos="fade-up-sm" data-aos-delay="50">
            <div class="content">
              <p class="text-primary">All In one AI Writer</p>
              <h1 class="mb-8">
                All-in-One Suite:
                <span class="text-primary">Write, Humanize, and Verify</span>.
              </h1>
              <p class="mb-6">
                Enjoy streamlined content creation, ai humanization, and assurance of originality, all within a single, efficient
                platform.
              </p>
              <ul class="list-unstyled list-check mb-8">
                <li>
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18" class="icon">
                    <g>
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                        d="m3.75 9 3.75 3.75 7.5-7.5" />
                    </g>
                  </svg>
                  <span>
                    AI Writer: Produce diverse content swiftly..</span>
                </li>
                <li>
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18" class="icon">
                    <g>
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                        d="m3.75 9 3.75 3.75 7.5-7.5" />
                    </g>
                  </svg>
                  <span>Content Humanizer: Add a natural, human-like quality.</span>
                </li>
                <li>
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18" class="icon">
                    <g>
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                        d="m3.75 9 3.75 3.75 7.5-7.5" />
                    </g>
                  </svg>
                  <span>AI Detector: Ensure content originality and uniqueness.</span>
                </li>
              </ul>
              <a href="{% url 'account_signup' %}" class="arrow-link arrow-link-primary text-primary gap-3">
                <span>Get Started Free</span>
                <svg class="icon" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M4 12.6667L12.6667 4M12.6667 4V12.32M12.6667 4H4.34667" stroke="currentColor"
                    stroke-width="1.21" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </a>
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up-sm" data-aos-delay="100">
            <div class="feature-img">
              <img src="{% static 'assets/images/ai-writer-all-in-one.svg' %}" alt=""
                class="img-fluid" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Use cases -->


  <!-- App users -->


  <!-- Reviews -->


  <!-- Pricing -->


  <!-- FAQ -->


  <!-- CTA -->

  <!-- Bootstrap Modal -->
  <!-- Bootstrap Modal for Limit Reached -->


  <!-- Word Limit Modal -->
 

</main>

{% endblock %}