<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{% static 'assets/images/ai-humanize-icon.svg' %}" type="image/svg+xml" />
    <meta property="og:image" content="{% static 'assets/images/ai-humanize-icon.svg' %}" />
    <title>Email Confirmation - AI Humanize</title>
    <meta property="og:title" content="Email Confirmation - AI Humanize" />
    <meta property="og:description" content="Complete your registration with AI Humanize by confirming your email. Ensure your account's security and access our advanced AI text humanizing tools." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://aihumanize.com/" />
    <meta name="description" content="Confirm your email to complete the registration process for AI Humanize. Secure your account and start exploring our AI text humanizing tools." />


    <link
      rel="stylesheet"
      href="{% static 'dashboard/assets/css/style.css' %}?v1.0.0"
    />
  </head>

  <body class="nk-body">
    <div class="nk-app-root" data-sidebar-collapse="lg">
      <div class="nk-main">
        <div class="nk-wrap has-shape flex-column">
          <div class="nk-shape bg-shape-blur-a start-0 top-0"></div>
          <div class="nk-shape bg-shape-blur-b end-0 bottom-0"></div>
          <div class="text-center pt-5">
            <a href="{% url 'index' %}" class="logo-link">
              <div class="logo-wrap">
                <img
                  class="logo-img logo-light"
                  src="images/logo.png"
                  srcset="images/logo2x.png 2x"
                  alt=""
                />
                <img
                  class="logo-img logo-dark"
                  src="images/logo-dark.png"
                  srcset="images/logo-dark2x.png 2x"
                  alt=""
                />
                <img
                  class="logo-img logo-icon"
                  src="images/logo-icon.png"
                  srcset="images/logo-icon2x.png 2x"
                  alt=""
                />
              </div>
            </a>
          </div>
          {% load i18n %} {% load account %} {% load allauth %}
          <div class="container p-2 p-sm-4 mt-auto">
            <div class="row justify-content-center">
              <div class="col-md-7 col-lg-4">
                <div class="nk-block">
                  {% if confirmation %} {% if can_confirm %}
                  <div class="mb-5 text-center">
                    <img
                      src="{% static 'dashboard/images/illustrations/envelope-verified.svg' %}"
                      alt=""
                    />
                  </div>
                  <div class="nk-block-head text-center">
                    <div class="nk-block-head-content">
                      <h1 class="nk-block-title mb-1">Confirm Email Address</h1>
                      <p>
                        Please confirm that
                        <a href="mailto:{{ confirmation.email_address.email }}"
                          >{{ confirmation.email_address.email }}</a
                        >
                        is your email address.
                      </p>
                    </div>
                  </div>
                  <div class="d-grid mt-4 pt-2">
                    <form
                      method="post"
                      action="{% url 'account_confirm_email' confirmation.key %}"
                    >
                      {% csrf_token %}
                      <div
                        class="d-flex justify-content-center align-items-center"
                      >
                        <button type="submit" class="btn btn-primary">
                          Confirm Email
                        </button>
                      </div>
                    </form>
                  </div>
                  {% else %}
                  <div class="nk-block-head text-center">
                    <div class="nk-block-head-content">
                      <h1 class="nk-block-title mb-1">
                        Email Confirmation Failed
                      </h1>
                      <p>
                        Unable to confirm the email address because it is
                        already confirmed by a different account or the
                        confirmation link is invalid.
                      </p>
                    </div>
                  </div>
                  {% endif %} {% else %}
                  <div class="nk-block-head text-center">
                    <div class="nk-block-head-content">
                      <h1 class="nk-block-title mb-1">
                        Invalid Confirmation Link
                      </h1>
                      <p>
                        This email confirmation link expired or is invalid.
                        Please
                        <a href="{% url 'account_signup' %}"
                          >issue a new email confirmation request by signing
                          up</a
                        >.
                      </p>
                    </div>
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
      
        </div>
      </div>
    </div>
    <script src="{% static 'dashboard/assets/js/bundle.js' %}?v1.0.0"></script>
    <script src="{% static 'dashboard/assets/js/scripts.js?v1.0.0' %}"></script>
  </body>
</html>
