{% extends 'front/main.html' %} {% load static %}
{% block meta_tags %}
<title>Pricing - AI Humanize</title>
<meta name="description" content="Explore affordable pricing plans for AI Humanize's services. Choose the best plan to humanize your AI-generated content seamlessly." />
<meta property="og:title" content="Pricing - AI Humanize" />
<meta property="og:description" content="Explore affordable pricing plans for AI Humanize's services. Choose the best plan for your needs." />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://aihumanize.com/pricing/" />
{% endblock %}

{% block content %}
<style>
    .spinner {
        border: 4px solid rgba(0, 0, 0, 0.1);
        width: 36px;
        height: 36px;
        border-radius: 50%;
        border-left-color: #09f;
        animation: spin 1s ease infinite;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>
<main class="flex-grow-1">
    <!-- Page header -->


    <!-- Pricing -->
    <section class="pt-5 pb-10 pt-lg-15 pb-lg-15">
        <div class="container">
            <div class="row justify-center mb-14">
                <div class="col-lg-10">
                    <div class="text-center">
                        <!-- <p class="text-primary" data-aos="fade-up-sm" data-aos-delay="50">
                            Pricing Plan
                        </p> -->
                        <h1 class=" mb-5" data-aos="fade-up-sm" data-aos-delay="100">
                            Ready to Get Started?

                        </h1>
                        <p class="mb-0" data-aos="fade-up-sm" data-aos-delay="150">
                            <!-- Get started with a 5-day trial, <span class="text-primary">25% off</span> for Yearly Plan,
                            Cancel anytime. -->
                            If any text we produce is identified as AI-generated, we'll <span class="text-primary">
                                credit the words back </span> and offer
                            personal assistance to humanize your text.
                        </p>
                    </div>

                </div>
            </div>
            <div class="row g-6 pricing-table">
                <div class="col-md-6 col-lg-4" data-aos="fade-up-sm" data-aos-delay="150">
                    <div class="pricing-card p-6 px-lg-10 py-lg-8 rounded-4 h-full bg-whitedark">
                        <h3 class="text-primary fw-medium mb-0">Monthly</h3>
                        <h1 class="display-2 fw-semibold  mb-0 mt-4 price monthly" id="monthlyPrice">$8.99</h1>
                        <p class=" lead fw-normal mt-4 mb-0">
                            Words amount:

                        </p>
                        <div class="number-input">
                            <button onclick="decrement()">-</button>
                            <input type="number" class="form-control rounded-2 py-4" id="customNumber" readonly
                                oninput="onInputUpdate()" onblur="setDefaultIfEmpty(this) " value="10000">
                            <button onclick="increment()">+</button>
                        </div>
                        <a href="javascript:void(0)" data-plan-type="monthly"
                            class="pricing-btn btn btn-lg w-full fs-4 lh-sm mt-9 btn-lite-blue-2 btn-outline-primary">Choose
                            Monthly

                        </a>
                        <ul class="pricing-list d-flex flex-column gap-5 fs-lg mt-9 mb-0">
                            <li>Rewrites <strong class=" fw-medium" id="listWordsCount">10,000</strong> words per month
                            </li>
                            <li>Rewrites <strong class=" fw-medium">5,000</strong> words per process</li>

                            <li>Built-in AI detector</li>
                            <li> No weird or random words</li>
                            <li>Passes AI detectors</li>
                            <li>High quality, legible content</li>
                            <li>Writing level matching</li>
                        </ul>
                    </div>
                </div>







                <div class="col-md-6 col-lg-4" data-aos="fade-up-sm" data-aos-delay="150">
                    <div class="pricing-card p-6 px-lg-10 py-lg-8 rounded-4 h-full bg-whitedark">
                        <span class="badge text-bg-primary px-4 py-2 rounded-end-0">Limited Time - 44.49% off</span>
                        <h3 class="text-primary fw-medium mb-0">Yearly</h3>
                        <h1 class="display-2 fw-semibold  mb-0 mt-4 price monthly" id="YearlyPrice">$4.99</h1>
                        <p class=" lead fw-normal mt-4 mb-0">
                            Words amount:

                        </p>
                        <div class="number-input">
                            <button onclick="decrementYearly()">-</button>
                            <input type="number" class="form-control rounded-2 py-4" id="customNumberYearly" readonly
                                oninput="onInputUpdateYearly()" onblur="setDefaultIfEmpty(this) " value="10000">
                            <button onclick="incrementYearly()">+</button>
                        </div>

                        <a href="javascript:void(0)" data-plan-type="yearly"
                            class="pricing-btn btn btn-lg w-full fs-4 lh-sm mt-9 btn-lite-blue-2 btn-outline-primary">Choose
                            Yearly</a>
                        <ul class="pricing-list d-flex flex-column gap-5 fs-lg mt-9 mb-0">
                            <li>Charged annually: <strong class=" fw-medium" id="annualChargePrice">$59.88</strong>
                            </li>

                            <li>Gain access to <strong class=" fw-medium"
                                    id="listWordsCountYearlyTotal">120,000</strong> words annually
                            </li>
                            <li>Rewrites <strong class=" fw-medium">5,000</strong> words per process</li>

                            <li>Built-in AI detector</li>
                            <li> No weird or random words</li>
                            <li>Passes AI detectors</li>
                            <li>High quality, legible content</li>
                            <li>Writing level matching</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4" data-aos="fade-up-sm" data-aos-delay="150">
                    <div class="pricing-card p-6 px-lg-10 py-lg-8 rounded-4 h-full bg-whitedark">
                        <h3 class="text-primary fw-medium mb-0">Enterprise</h3>
                        <h1 class="display-2 fw-semibold  mb-0 mt-4 price monthly" id="monthlyPriceBusiness">$200</h1>
                        <p class=" lead fw-normal mt-4 mb-0">
                            Words amount:

                        </p>
                        <div class="number-input">
                            <button onclick="decrementBusiness()">-</button>
                            <input type="number" class="form-control rounded-2 py-4" id="customNumberBusiness" readonly
                                oninput="onInputUpdateBusiness()" onblur="setDefaultIfEmptyBusiness(this) "
                                value="500000">
                            <button onclick="incrementBusiness()">+</button>
                        </div>
                        <a href="javascript:void(0)" data-plan-type="enterprise"
                            class="pricing-btn btn btn-lg w-full fs-4 lh-sm mt-9 btn-lite-blue-2 btn-outline-primary">Choose
                            Enterprise</a>
                        <ul class="pricing-list d-flex flex-column gap-5 fs-lg mt-9 mb-0">
                            <li>Rewrites <strong class=" fw-medium" id="listWordsCountBusiness">500,000</strong> words
                                per month
                            </li>
                            <li>Rewrites <strong class=" fw-medium">5,000</strong> words per process</li>
                            <li>API compatible (text humanizer)</li>
                            <li>Built-in AI detector</li>
                            <li> No weird or random words</li>
                            <li>Passes AI detectors</li>
                            <li>High quality, legible content</li>
                            <li>Writing level matching</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- FAQ -->
    <section class="py-10 py-lg-15">
        <div class="container">
            <div class="row justify-center mb-18">
                <div class="col-lg-10">
                    <div class="text-center">
                        <h1 class="mb-0 " data-aos="fade-up-sm" data-aos-delay="50">
                            Questions About our GenAI? <br class="d-none d-md-block" />
                            We have Answers!
                        </h1>
                    </div>
                </div>
            </div>

            <div class="row justify-center">
                <div class="col-lg-8" data-aos="fade-up-sm" data-aos-delay="100">
                    <div class="accordion accordion-flush d-flex flex-column gap-6" id="faqAccordion">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#faq-collapseOne" aria-expanded="false" aria-controls="faq-collapseOne">
                                    <span class="icon"></span>
                                    What is AIHumanize?
                                </button>
                            </h2>
                            <div id="faq-collapseOne" class="accordion-collapse collapse show" data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    AI Humanize is a tool that we created to detect AI-generated text and make AI-generated text
                                    more
                                    human-like. We achieve this using a number of machine learning models as well as text pre- and
                                    post-processing to
                                    guarantee that AI detection has been deleted and you can bypass AI detectors.
                                </div>
                            </div>
                        </div>
            
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#faq-collapseTwo" aria-expanded="false" aria-controls="faq-collapseTwo">
                                    <span class="icon"></span>
                                    Does AI Humanize Bypass AI detectors?
                                </button>
                            </h2>
                            <div id="faq-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    Certainly, AI Humanize is tailored for content creators such as marketers, writers, bloggers,
                                    among others, to make
                                    their work appear more human-like. It successfully avoids being caught by AI detection tools. By
                                    using AI Humanize,
                                    users can produce content that is less prone to being identified as AI-created, ensuring it
                                    retains a natural,
                                    human-like essence. Nonetheless, it is crucial to employ AI Humanize ethically and in compliance
                                    with relevant
                                    guidelines and platform rules.
                                </div>
                            </div>
                        </div>
            
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#faq-collapseThree" aria-expanded="false" aria-controls="faq-collapseThree">
                                    <span class="icon"></span>
                                    Can Content Created with AI Humanize Perform Well in Search Engine Rankings?
                                </button>
                            </h2>
                            <div id="faq-collapseThree" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    Absolutely, content crafted using AI Humanize can achieve good rankings on search engines.
                                    Studies suggest that
                                    AI-generated content often ranks lower than human-made content, owing to aspects such as
                                    relevance, engagement, and
                                    authenticity. Yet, AI Humanize is designed to overcome these challenges by producing content
                                    that mirrors the
                                    qualities of human writing. This approach increases the likelihood of the content appealing to
                                    both readers and search
                                    engine algorithms.
                                </div>
                            </div>
                        </div>
            
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#faq-collapseFour" aria-expanded="false" aria-controls="faq-collapseFour">
                                    <span class="icon"></span>
                                    How Does Our Pricing Work?
                                </button>
                            </h2>
                            <div id="faq-collapseFour" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    We've made our pricing straightforward: you're billed solely based on the number of words in
                                    your input text. No hidden
                                    fees or complicated calculations! Plus, all your billing details are conveniently accessible in
                                    our user-friendly
                                    dashboard. Stay informed and in control of your usage with ease.
                                </div>
                            </div>
                        </div>
            
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#faq-collapseFive" aria-expanded="false" aria-controls="faq-collapseFive">
                                    <span class="icon"></span>
                                    How does the built-in AI detector work?
                                </button>
                            </h2>
                            <div id="faq-collapseFive" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    Our built-in AI detector allows you to verify the undetectability of your content against AI
                                    detectors, providing an
                                    additional layer of assurance before you use the transformed content.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% csrf_token %}

    <!-- CTA -->
 

</main>
<script src="https://js.stripe.com/v3/"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var stripe = Stripe('pk_test_51OCnPQFG5G6BKxaQ0JDtM7dWfppLE77Z1jUwI80isYFpKLTwrBkxtLR32xrUl4rbcYlny0ifv1sCLTMtzMPPTN6P00wrp1eSoy');

        document.querySelectorAll('.pricing-btn').forEach(function (button) {
            button.addEventListener('click', function (event) {
                event.preventDefault();

                var originalButtonText = button.textContent;
                button.textContent = 'Loading';
                button.disabled = true;

                var dotCount = 0;
                var loadingInterval = setInterval(function () {
                    if (dotCount < 3) {
                        button.textContent += '.';
                        dotCount++;
                    } else {
                        button.textContent = 'Loading';
                        dotCount = 0;
                    }
                }, 500); // Dot animation speed

                var planType = this.getAttribute('data-plan-type');
                var wordCount = getWordCount(planType);

                createCheckoutSession(planType, wordCount)
                    .then(function (response) {
                        return response.json();
                    })
                    .then(function (sessionData) {
                        if (sessionData.id) {
                            clearInterval(loadingInterval); // Stop the animation
                            return stripe.redirectToCheckout({ sessionId: sessionData.id });
                        } else {
                            throw new Error('Checkout session creation failed');
                        }
                    })
                    .catch(function (error) {
                        console.error('Error:', error);
                        clearInterval(loadingInterval); // Stop the animation
                        button.textContent = originalButtonText;  // Restore original button text
                        button.disabled = false;  // Re-enable the button
                    });
            });
        });
    });


    function getWordCount(planType) {
        switch (planType) {
            case 'monthly':
                return document.getElementById('customNumber').value;
            case 'yearly':
                return document.getElementById('customNumberYearly').value;
            case 'enterprise':
                return document.getElementById('customNumberBusiness').value;
            default:
                return 0;
        }
    }

    function createCheckoutSession(planType, wordCount) {
        let csrf_token = document.querySelector('[name=csrfmiddlewaretoken]').value
        return fetch('/payments/create-checkout-session/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                // Include CSRF token as needed
                'X-CSRFToken': csrf_token
            },
            body: JSON.stringify({
                plan_type: planType,
                word_count: parseInt(wordCount, 10)
            }),
        }).then(function (response) {
            if (response.ok) {
                return response;
            } else if (response.status === 403) {
                window.location.href = '/accounts/signup/';  // Redirect to sign-up
                return null;
            } else {
                console.error('Unexpected response status:', response.status);
                return response.text().then(text => { throw new Error(text) });
            }
        });
    }


</script>
{% endblock %}