{% extends 'front/main.html' %} {% load static %} {% block content %}
<main class="flex-grow-1">
    <!-- Page header -->


    <!-- Pricing -->
    <section class="pt-5 pb-10 pt-lg-15 pb-lg-15">
        <div class="container">
            <div class="row justify-center mb-14">
                <div class="col-lg-10">
                    <div >
<h1 class="mb-2">Privacy Policy</h1>
<p>We are committed to protecting your privacy. This Privacy Policy explains how we collect, use, and disclose your
personal information when you use our website. By using our website, you consent to the collection, use, and disclosure
of your personal information as described in this Privacy Policy.</p>

<h2>Information We Collect</h2>
<p>When you use our website, we may collect personal information that you provide to us, such as your name, email address,
and other contact information. We may also collect information about your use of our website, including but not limited
to, the date and time of your visit, the pages you accessed, and your IP address.</p>
<h2>Use of Information</h2>
<p>We may use your personal information to provide you with our services, respond to your inquiries, and communicate with
you about our website and its services. We may also use your personal information to improve our website and its
services, conduct research and analysis, and comply with our legal obligations.</p>
<h2>Disclosure of Information</h2>
<p>We may disclose your personal information to third-party service providers who perform services on our behalf, such as
website hosting, data analysis, and customer support. We may also disclose your personal information to comply with our
legal obligations, enforce our Terms of Use, or protect our rights, property, or safety or the rights, property, or
safety of others.
</p>
<h2>Cookies</h2>
<p>We may use cookies to collect information about your use of our website. Cookies are small files that are stored on your
device when you visit our website. We may use cookies to personalize your experience on our website, analyze your use of
our website, and improve our website and its services. You may refuse to accept cookies by adjusting your browser
settings, but doing so may affect your ability to use our website and its services.
</p>
<h2>Third-Party Links</h2>
<p>Our website may contain links to third-party websites or services that are not owned or controlled by us. We are not
responsible for the privacy practices or content of these third-party websites or services. We encourage you to read the
privacy policies of these third-party websites or services before providing any personal information.
</p>
<h2>Security</h2>
<p>We take reasonable measures to protect your personal information from unauthorized access, use, or disclosure. However,
no security measure is perfect or impenetrable, and we cannot guarantee the security of your personal information.
</p>
<h2>Children's Privacy</h2>
<p>Our website is not intended for children under the age of 13. We do not knowingly collect personal information from
children under the age of 13. If you are a parent or guardian and believe that your child has provided us with personal
information, please contact us at [insert contact information] to have the information removed.
</p>
<h2>Changes to Privacy Policy</h2>
<p>We reserve the right to modify or update this Privacy Policy at any time without prior notice. Your continued use of our
website after such modifications shall constitute your acceptance of the modified Privacy Policy.
</p>
<h2>Contact Us</h2>
<p>If you have any questions about these Terms or our website, please contact us at support@aihumanize.com</p>


</div>
</div>
</div>
</div>
</section>
</main>
{% endblock %}