{% extends 'front/main.html' %} {% load static %} {% block content %}
<main class="flex-grow-1">
    <!-- Page header -->


    <!-- Pricing -->
    <section class="pt-5 pb-10 pt-lg-15 pb-lg-15">
        <div class="container">
            <div class="row justify-center mb-14">
                <div class="col-lg-10">
                    <div >
<h1>Terms of Service for AIHumanize.com</h1>
<p>Last updated: November 30, 2023</p>

<h2>Agreement to Legal Terms</h2>
<p>Welcome to <a href="https://aihumanize.com">AIHumanize.com</a>, operated by TEMURIYDEVS LTD ("Company," "we," "us,"
    "our").
<p>We operate the website https://aihumanize.com (the "Site"), as well as any other related products and services that
refer or link to these legal terms (the "Legal Terms") (collectively, the "Services").</p>
</p>
<p>We provide text humanization services with AI products.</p>
<p>You can contact us by email at support@aihumanize.com.</p>
<p>These Legal Terms constitute a legally binding agreement made between you, whether personally or on behalf of an entity
("you"), and TEMURIYDEVS LTD, concerning your access to and use of the Services. You agree that by accessing the
Services, you have read, understood, and agreed to be bound by all of these Legal Terms.
</p>
<h5>IF YOU DO NOT AGREE WITH ALL OF THESE LEGAL TERMS, THEN YOU ARE EXPRESSLY PROHIBITED FROM USING THE SERVICES AND YOU
MUST DISCONTINUE USE IMMEDIATELY.</h5>
<p>Supplemental terms and conditions or documents that may be posted on the Services from time to time are hereby expressly
incorporated herein by reference. We reserve the right, in our sole discretion, to make changes or modifications to
these Legal Terms from time to time. We will alert you about any changes by updating the "Last updated" date of these
Legal Terms, and you waive any right to receive specific notice of each such change.
</p>
<p>It is your responsibility to periodically review these Legal Terms to stay informed of updates. You will be subject to,
and will be deemed to have been made aware of and to have accepted, the changes in any revised Legal Terms by your
continued use of the Services after the date such revised Legal Terms are posted. can u put this text inside p html
element according to new line
</p>


<h3>1. Acceptance of Terms</h3>
<p>By accessing and using the AIHumanize Services, you acknowledge and agree to be bound by these Terms. If you do not
agree to these Terms, you must not access or use the Services.</p>
<p> AIHumanize.com reserves the right to modify, update, or revise these Terms at any time without prior notice. Your continued use of the
Services after any changes to the Terms constitutes your acceptance of the updated Terms.</p>
<h3>2. Description of Services</h3>
<p>We provide ai detection and ai text humanizer services.</p>

<h3>3. User Registration</h3>
<p>To access certain features of the Services, you may be required to create a user account. When creating an account, you
must provide accurate and complete information and meet any eligibility criteria. AIHumanize.com reserves the right to
refuse registration or cancel an account at its sole discretion.</p>
<p>You are responsible for maintaining the confidentiality of your account information, including your password, and for
any activities that occur under your account. You agree to notify AIHumanize.com immediately of any unauthorized access
or use of your account or any other security breaches.</p>
<p>AIHumanize.com may suspend or terminate your account and access to the Services if you violate these Terms, engage in any
activities that are harmful to AIHumanize.com or its users, or for any other reason at AIHumanize.com's sole discretion.
You may also terminate your account at any time by contacting AIHumanize.com's customer support.</p>

<h3>4. Intellectual Property Rights</h3>
<p>All content on AIHumanize.com is owned by TEMURIYDEVS LTD or its licensors and is protected by copyright and other
    intellectual property laws.</p>

<h3>5. User Conduct</h3>
<p>You retain all rights and ownership of the content you submit, create, or generate using the Services ("User Content").
AIHumanize.com does not claim any ownership rights in your User Content.</p>
<p>You are solely responsible for your User Content and any consequences resulting from its use or publication.
AIHumanize does not endorse or take responsibility for any User Content submitted through the Services.</p>

<h3>6. Limitation of Liability</h3>
<p>The Services are provided on an "as is" and "as available" basis, without any warranties of any kind, either express or
implied. TEMURIYDEVS LTD does not guarantee that the Services will meet your requirements or be uninterrupted, secure, or
error-free.</p>
<p>To the maximum extent permitted by law, TEMURIYDEVS LTD and its affiliates, employees, and agents shall not be liable for
any direct, indirect, incidental, or consequential damages arising out of or in connection with your use of or inability
to use the Services, even if advised of the possibility of such damages.</p>

<p>AIHumanize.com does not guarantee that the content generated by the tool will be undetectable by AI detectors or
plagiarism-checking software. You assume full responsibility for any consequences resulting from the use of the
generated content.</p>

<h3>7. Amendments to Terms</h3>
<p>We reserve the right to update these Terms at any time. Continued use of the website constitutes acceptance of the
    new Terms.</p>

<h3>8. Prohibited Activities</h3>
<p>Users must not engage in prohibited activities, including but not limited to unauthorized use of the website,
    infringement of intellectual property, and any activity causing harm to the site or other users.</p>

<h3>9. User-Generated Content</h3>
<p>Users are responsible for their contributions and agree to grant the Company a non-exclusive license to use such
    content.</p>

<h3>10. Third-Party Links and Content</h3>
<p>The website may contain links to third-party websites. The Company is not responsible for the content or accuracy of
    third-party sites.</p>

<h3>11. Disclaimer</h3>
<p>The website is provided "as is" without any warranties. The Company disclaims all warranties, expressed or implied,
    regarding the website and its use.</p>

<h3>12. Indemnification</h3>
<p>Users agree to indemnify and hold harmless the Company from any claims arising from their use of AIHumanize.com.</p>
<p>Payments for subscriptions are processed through secure third-party payment providers. Accepted payment methods include
credit cards, debit cards, and other payment methods as specified on our website.</p>
<h3>13. Payments, Subscriptions, and Refunds</h3>
<p>AIHumanize.com offers various subscription plans with different features and pricing. Detailed information on available
plans and associated fees can be found on our website.</p>
<p>You may cancel your subscription at any time. If you do not cancel your subscription before the renewal date, it will be
automatically renewed, and you will be charged for the next billing period. Refunds for cancelled subscriptions will be
processed in accordance with our refund policy, which can be found on our website.</p>
<p>AIHumanize.com may offer free trials or promotional offers from time to time. The terms and conditions of these offers
will be specified at the time of the promotion and may be subject to change.</p>

<h3>14. Refund Policy</h3>
<p>Refunds will not be provided for any subscription plan if the user has already used the Service during the paid period.</p>
<p>To request a refund, users must contact AiHumanize.com's customer support within the specified timeframe. Refund requests
will be evaluated on a case-by-case basis and granted at AiHumanize.com's sole discretion.</p>
<p>Any exceptions to the refund policy will be at AiHumanize's sole discretion and will be clearly stated in the terms
and conditions of any promotional offers or specific agreements.</p>
<h3>15. Indemnification</h3>
<p>You agree to indemnify, defend, and hold harmless AIHumanize.com and its affiliates, employees, agents, and licensors
from and against any claims, liabilities, damages, judgments, awards, losses, costs, expenses, or fees (including
reasonable attorneys' fees) arising out of or relating to your violation of these Terms or your use of the Service.</p>

</div>
</div>
</div>
</div>
</section>
</main>
{% endblock %}