{% extends 'dashboard/main.html' %}


{% block content %}

    <div class="nk-editor">
        <div class="nk-editor-header">
            <div class="nk-editor-title">
                <h4 class="me-3 mb-0 line-clamp-1">2023-02-03 Untitled</h4>
                <ul class="d-inline-flex align-item-center">
                    <li>
                        <button class="btn btn-sm btn-icon btn-zoom">
                            <em class="icon ni ni-pen"></em>
                        </button>
                    </li>
                    <li>
                        <button class="btn btn-sm btn-icon btn-zoom">
                            <em class="icon ni ni-star"></em>
                        </button>
                    </li>
                    <li class="d-xl-none me-n1">
                        <div class="dropdown">
                            <button class="btn btn-sm btn-icon btn-zoom" type="button" data-bs-toggle="dropdown">
                                <em class="icon ni ni-menu-alt-r"></em>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="nk-editor-tools d-none d-xl-flex">
                <ul class="d-inline-flex gap gx-3 gx-lg-4 pe-4 pe-lg-5">
                    <li>
                        <span class="sub-text text-nowrap">Words <span class="text-dark">25</span></span>
                    </li>
                    <li>
                        <span class="sub-text text-nowrap">Characters <span class="text-dark">84</span></span>
                    </li>
                </ul>
                <ul class="d-inline-flex gap gx-3">
                    <li>
                        <div class="dropdown">
                            <button class="btn btn-md btn-light rounded-pill" type="button" data-bs-toggle="dropdown">
                                <span>Export</span>
                                <em class="icon ni ni-chevron-down"></em>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <button class="btn btn-md btn-primary rounded-pill" type="button"> Save </button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="nk-editor-main">
            <div class="nk-editor-base">
                <ul class="nav nav-tabs nav-sm nav-tabs-s1 px-3">
                    <li class="nav-item">
                        <button class="nav-link active" type="button" data-bs-toggle="tab"
                            data-bs-target="#AI-Writer">AI Writer</button>
                    </li>
                   
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="AI-Writer">
                        <form action="document-editor-edit.html" class="px-4 py-4">
                            <div class="row gy-4 gx-4">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label class="form-label">Select Template</label>
                                        <div class="form-control-wrap">
                                            <select class="js-select" data-search="true" data-sort="false">
                                                <option value="1">Social Media Posts</option>
                                                <option value="2">Website Copy</option>
                                            </select>
                                        </div>
                                    </div>
                                </div><!-- .col -->
                                <div class="col-12">
                                    <div class="form-group">
                                        <label class="form-label">What do you want to generate?</label>
                                        <div class="form-control-wrap">
                                            <textarea cols="30" rows="4"
                                                class="form-control">Write a Facebook post about openai that revolutionizes the world through the power of data.</textarea>
                                        </div>
                                        <div class="form-note d-flex justify-content-end"><span>0/500 Characters</span>
                                        </div>
                                    </div>
                                </div><!-- .col -->
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="PrimaryKeywords" class="form-label">Primary Keywords</label>
                                        <div class="form-control-wrap">
                                            <input id="PrimaryKeywords" type="text" class="form-control"
                                                value="chatgpt, openai, facebook" />
                                        </div>
                                        <div class="form-note d-flex justify-content-between"><span>Separated with a
                                                comma</span><span>0/10</span></div>
                                    </div>
                                </div><!-- .col -->
                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="form-label">Select Language</label>
                                        <div class="form-control-wrap">
                                            <select class="js-select" data-search="true" data-sort="false">
                                                <option value="1">English US</option>
                                                <option value="2">Español</option>
                                                <option value="3">Français</option>
                                            </select>
                                        </div>
                                    </div>
                                </div><!-- .col -->
                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="form-label">Select Tone</label>
                                        <div class="form-control-wrap">
                                            <select class="js-select" data-search="true" data-sort="false">
                                                <option value="1">Friendly</option>
                                                <option value="2">Creative</option>
                                                <option value="3">Extreme</option>
                                            </select>
                                        </div>
                                    </div>
                                </div><!-- .col -->
                              
                                <div class="col-6">
                                    <button class="btn btn-primary w-100">Generate</button>
                                </div>
                            </div><!-- .row -->
                        </form>
                    </div><!-- .tab-pane -->
                  
                </div><!-- .tab-content -->
            </div><!-- .nk-editor-base -->
            <div class="nk-editor-body">
                <div class="wide-md h-100">
                    <div class="js-editor nk-editor-style-clean nk-editor-full" data-menubar="false" id="editor-v1">
                    </div> <!-- .js-editor -->
                </div>
            </div><!-- .nk-editor-body -->
        </div><!-- .nk-editor-main -->
    </div><!-- .nk-editor -->
<script>
    let myContent = document.getElementById("myContent");
    myContent.classList.add("nk-content-empty");
</script>
{% endblock %}