{% extends 'dashboard/main.html' %}

{% load static %}

{% block content %}

<style>

</style>
    <div class="nk-editor">
        <div class="nk-editor-header">
            <div class="nk-editor-title">
                <h4 class="me-3 mb-0 line-clamp-1">2023-02-03 Untitled</h4>
                <ul class="d-inline-flex align-item-center">
                    <li>
                        <button class="btn btn-sm btn-icon btn-zoom">
                            <em class="icon ni ni-pen"></em>
                        </button>
                    </li>
                    <li>
                        <button class="btn btn-sm btn-icon btn-zoom">
                            <em class="icon ni ni-star"></em>
                        </button>
                    </li>
                    <li class="d-xl-none me-n1">
                        <div class="dropdown">
                            <button class="btn btn-sm btn-icon btn-zoom" type="button" data-bs-toggle="dropdown">
                                <em class="icon ni ni-menu-alt-r"></em>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="nk-editor-tools d-none d-xl-flex">
                <ul class="d-inline-flex gap gx-3 gx-lg-4 pe-4 pe-lg-5">
                    <li>
                        <span class="sub-text text-nowrap">Words <span class="text-dark" id="words_count">0</span></span>
                    </li>
                    <li>
                        <span class="sub-text text-nowrap">Characters <span class="text-dark" id="chars_count">0</span></span>
                    </li>
                </ul>
                <ul class="d-inline-flex gap gx-3">
                    <li>
                        <div class="dropdown">
                            <button class="btn btn-md btn-light rounded-pill" type="button" data-bs-toggle="dropdown">
                                <span>Export</span>
                                <em class="icon ni ni-chevron-down"></em>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <button class="btn btn-md btn-primary rounded-pill" type="button"> Save </button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="nk-editor-main">
            <div class="nk-editor-base">
                <ul class="nav nav-tabs nav-sm nav-tabs-s1 px-3">
                    <li class="nav-item">
                        <button class="nav-link active" type="button" data-bs-toggle="tab"
                            data-bs-target="#AI-Writer">AI Writer</button>
                    </li>
                   
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="AI-Writer">
                        <form  class="px-4 py-4">{% csrf_token %}
                            <div class="row gy-4 gx-4">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label class="form-label">Select Template</label>
                                        <div class="form-control-wrap">
                                            <select class="js-select" data-search="true" data-sort="false" id="content_type">
                                                <option value="Blog Title">Blog Title</option>
                                                <option value="Blog Outline">Blog Outline</option>
                                                <option value="blog_post">Blog Post</option>
                                                <option value="social_media_facebook">Social Media Post - Facebook</option>
                                                <option value="social_media_twitter">Social Media Post - Twitter</option>
                                                <option value="ad_content">Ad Content</option>
                                                <option value="email">Email Content</option>
                                            </select>
                                        </div>
                                    </div>
                                </div><!-- .col -->
                                <div class="col-12">
                                    <div class="form-group">
                                        <label class="form-label">What do you want to generate?</label>
                                        <div class="form-control-wrap">
                                            <textarea cols="30" rows="4"
                                                class="form-control" id="textToGenerate">Write a Facebook post about openai that revolutionizes the world through the power of data.</textarea>
                                        </div>
                                        <div class="form-note d-flex justify-content-end"><span>0/500 Characters</span>
                                        </div>
                                    </div>
                                </div><!-- .col -->
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="primaryKeywords" class="form-label">Primary Keywords</label>
                                        <div class="form-control-wrap">
                                            <input  id="primaryKeywords" type="text" class="form-control"
                                                value="chatgpt, openai, facebook" />
                                        </div>
                                        <div class="form-note d-flex justify-content-between"><span>Separated with a
                                                comma</span><span>0/10</span></div>
                                    </div>
                                </div><!-- .col -->
                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="form-label">Select Language</label>
                                        <div class="form-control-wrap">
                                            <select class="js-select" id="selectLanguage" data-search="true" data-sort="false">
                                                <option value="English US">English US</option>
                                                <option value="Español">Español</option>
                                                <option value="Français">Français</option>
                                            </select>
                                        </div>
                                    </div>
                                </div><!-- .col -->
                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="form-label">Select Tone</label>
                                        <div class="form-control-wrap">
                                            <select class="js-select" id="selectTone" data-search="true" data-sort="false">
                                                <option value="Friendly">Friendly</option>
                                                <option value="Creative">Creative</option>
                                                <option value="Extreme">Extreme</option>
                                            </select>
                                        </div>
                                    </div>
                                </div><!-- .col -->
                            <div class="col-12">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" value="" id="flexSwitchChecked" checked="">
                                    <label class="form-check-label" for="flexSwitchChecked"> Extend mode </label>
                                    <span>Select at least 30 words to Extend</span>
                                </div>
                            </div>
                                <div class="col-6">
                                    <button type="button" class="btn btn-primary w-100" id="generateButton">Generate</button>
                                </div>
                                
                            </div><!-- .row -->
                        </form>
                    </div><!-- .tab-pane -->
                  
                </div><!-- .tab-content -->
            </div><!-- .nk-editor-base -->
            <div class="nk-editor-body">
                <div class="wide-md h-100">
                    <div class="js-editor nk-editor-style-clean nk-editor-full" data-menubar="false" id="editor-v1">
                    
                    </div> <!-- .js-editor -->
                </div>
            </div><!-- .nk-editor-body -->
        </div><!-- .nk-editor-main -->
    </div><!-- .nk-editor -->
<div id="customPopover" class="popover" style="display: none; position: absolute;">
    <div class="popover-body">
        
        <button class="btn btn-outline-light" id="extendButton" style="display: flex; align-items: center;">
            <img src="{% static '/assets/images/aihumanize_icon.png' %}" alt="" class="popover-img"
                style="width: 40px; height: 30px; margin-right: 10px;">

            <!-- Adjust the width as needed -->
            Extend Content
        </button>
    </div>
</div>


<script>
    let myContent = document.getElementById("myContent");
    myContent.classList.add("nk-content-empty");
</script>

<script>
   document.getElementById('generateButton').addEventListener('click', function (event) {
        event.preventDefault(); // Prevents the default form submission

        var button = this;
        var originalButtonText = button.textContent;
        button.innerHTML = 'Generating... <span class="spinner-border ms-2 spinner-border-sm" role="status" aria-hidden="true"></span>';
        button.disabled = true;

        // Collect data
        var topic = document.getElementById('textToGenerate').value;
        var keywords = document.getElementById('primaryKeywords').value;
        var language = document.getElementById('selectLanguage').value;
        var tone = document.getElementById('selectTone').value;
        var content_type = document.getElementById('content_type').value;

        // Prepare the data to be sent
        var data = {
            topic: topic,
            keywords: keywords,
            language: language,
            tone: tone,
            content_type: content_type
        };

        // Send a POST request
        fetch('/dashboard/generate_text/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCsrfToken() // Ensure you have a CSRF token if required by your Django setup
            },
            body: JSON.stringify(data)
        })
            .then(response => response.json())
            .then(data => {
              
                tinymce.get('editor-v1').setContent(data.result);
                updateCounts(); // Update the HTML with the response
                button.innerHTML = originalButtonText;
                button.disabled = false;
            })
            .catch((error) => {
           
                button.innerHTML = originalButtonText;
                button.disabled = false;
            });
    });

    // Function to get CSRF token
    function getCsrfToken() {
        return document.querySelector('[name=csrfmiddlewaretoken]').value;
    }


</script>

<script>
    function attachEditorListener() {
            var editor = tinymce.get('editor-v1');
            if (editor) {
                // Attach the listener once the editor is available
                editor.on('input', function () {
                    updateCounts();
                });
                clearInterval(checkEditorInterval); // Clear the interval check
            }
        }

        function updateCounts() {
            var content = tinymce.get('editor-v1').getContent({ format: 'text' });
            var wordsCount = countWords(content);
            var charsCount = content.length;

            document.getElementById('words_count').textContent = wordsCount;
            document.getElementById('chars_count').textContent = charsCount;
        }

        function countWords(str) {
            str = str.replace(/(^\s*)|(\s*$)/gi, ""); // Trim spaces at start and end
            str = str.replace(/[ ]{2,}/gi, " "); // Replace multiple spaces with one
            str = str.replace(/\n /, "\n"); // Replace newline with a start spacing
            return str.split(' ').filter(function (str) { return str != ""; }).length;
        }

        // Periodically check if the editor is initialized
        var checkEditorInterval = setInterval(attachEditorListener, 500);

</script>

<script>
    function updateCounts() {
            var content = tinymce.get('editor-v1').getContent({ format: 'text' });
            var wordsCount = countWords(content);
            var charsCount = content.length;

            document.getElementById('words_count').textContent = wordsCount;
            document.getElementById('chars_count').textContent = charsCount;
        }

        function countWords(str) {
            str = str.replace(/(^\s*)|(\s*$)/gi, ""); // Remove spaces from start and end
            str = str.replace(/[ ]{2,}/gi, " "); // Convert 2 or more spaces to 1
            str = str.replace(/\n /, "\n"); // Exclude newline with a start spacing
            return str.split(' ').filter(function (str) { return str != ""; }).length;
        }

        // Attach the input event listener to the TinyMCE editor
        tinymce.get('editor-v1').on('input', function () {
            updateCounts();
        });

        // Call updateCounts initially to set the counts for pre-existing content
        updateCounts();

</script>

<script>
    var currentSelection = null; 
     function hidePopover(event) {
            var popover = document.getElementById('customPopover');
            var extendButton = document.getElementById('extendButton');
           
            // Only hide the popover if the click was outside the popover and not on the extend button
            if (popover && (!event || (!popover.contains(event.target) && event.target !== extendButton))) {
                popover.style.display = 'none';
            }
        }
    function getFullParagraphsFromSelection(iframeDocument, selection) {
            var range = selection.getRangeAt(0);

            // Starting and ending nodes of the selection
            var startNode = range.startContainer;
            var endNode = range.endContainer;

            // Get the closest paragraph ancestor of the starting and ending nodes
            var startParagraph = startNode.nodeType === 1 ? startNode : startNode.parentNode;
            while (startParagraph && startParagraph.nodeName !== 'P') {
                startParagraph = startParagraph.parentNode;
            }

            var endParagraph = endNode.nodeType === 1 ? endNode : endNode.parentNode;
            while (endParagraph && endParagraph.nodeName !== 'P') {
                endParagraph = endParagraph.parentNode;
            }

            // Collect all paragraphs from the start to the end of the selection
            var paragraphs = [];
            var currentElement = startParagraph;
            while (currentElement) {
                paragraphs.push(currentElement.textContent || currentElement.innerText);
                if (currentElement === endParagraph) {
                    break;
                }
                currentElement = currentElement.nextElementSibling;
            }

            return paragraphs.join('\n\n'); // Join paragraphs with two newlines
        }

    document.addEventListener('DOMContentLoaded', function () {
        window.onload = function (event) {
            var iframe = document.getElementById('editor-v1_ifr');
     
            var extendButton = document.getElementById('extendButton');

            extendButton.addEventListener('click', function () {
                if (currentSelection) {
                    if (currentSelection) {
                        this.innerHTML = 'Extending... <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>';
                        this.disabled = true;
                        var fullText = getFullParagraphsFromSelection(iframe.contentDocument || iframe.contentWindow.document, currentSelection);
        
                        var keywords = document.getElementById('primaryKeywords').value;
                        var language = document.getElementById('selectLanguage').value;
                        var tone = document.getElementById('selectTone').value;

                        var dataToSend = {
                            text: fullText, // Assuming the full text is the topic
                            keywords: keywords,
                            language: language,
                            tone: tone
                        };

                        fetch('/dashboard/extend_text_view/', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                'X-CSRFToken': getCsrfToken() // Ensure you have a CSRF token if required by your Django setup
                            },
                            body: JSON.stringify(dataToSend)
                        })
                            .then(response => response.json())
                            .then(data => {
                                hidePopover(event);
                                var editor = tinymce.get('editor-v1');
                                if (editor && currentSelection) {
                                    var range = currentSelection.getRangeAt(0);
                                    var endContainer = range.endContainer;

                                    // Traverse up to find the paragraph node
                                    var paragraphNode = endContainer.nodeType === 3 ? endContainer.parentNode : endContainer; // 3 is a text node
                                    while (paragraphNode.nodeName !== 'P' && paragraphNode.parentNode) {
                                        paragraphNode = paragraphNode.parentNode;
                                    }

                                    // Define the new content as a separate paragraph
                                    var newContentHtml = '<p style="background-color: #90ee90; transition: background-color 3s;">' + data.result + '</p>';

                                    // Insert the new content after the paragraph
                                    if (paragraphNode && paragraphNode.nodeName === 'P') {
                                        // We insert a new paragraph after the current paragraph
                                        var newParagraph = editor.getDoc().createElement('p');
                                        newParagraph.innerHTML = data.result; // Insert the result
                                        newParagraph.style.backgroundColor = '#90ee90'; // Apply background color

                                        // Place the new paragraph after the last paragraph of the selection
                                        paragraphNode.parentNode.insertBefore(newParagraph, paragraphNode.nextSibling);

                                        // Set a timer to remove the background color after 3 seconds
                                        setTimeout(() => {
                                            newParagraph.style.backgroundColor = ''; // Remove the background color
                                        }, 3000);
                                    }

                                    editor.focus(); // Focus the editor
                                }
                                console.log('Response from server:', data);
                                extendButton.innerHTML = `<img src="{% static '/assets/images/aihumanize_icon.png' %}" alt="" class="popover-img"
                style="width: 40px; height: 30px; margin-right: 10px;"> Extend Content`;
                                extendButton.disabled = false;
                                // Process the response data as needed
                            })
                            .catch(error => {
                                console.error('Error:', error);
                            });
                    }
                    // Handle the extended text as needed
                }
            });
            // Make sure the iframe is completely loaded
            iframe.addEventListener('load', function () {
                var iframeDocument = iframe.contentDocument || iframe.contentWindow.document;
             
                // Function to show the popover at the selected text position
                function showPopover(event) {
                    var enhancementModeCheckbox = document.getElementById('flexSwitchChecked');
                    if (!enhancementModeCheckbox.checked) {
                        // If the enhancement mode checkbox is not checked, do nothing
                        return;
                    }

                    var selection = iframeDocument.getSelection(event);
                    if (selection.rangeCount > 0 && !selection.isCollapsed) {
                        currentSelection = selection;
                        var range = selection.getRangeAt(0);
                        var rect = range.getBoundingClientRect();

                        var selectedText = selection.toString();
                        var wordCount = selectedText.split(/\s+/).length;

                        if (wordCount >= 30) {
                            // Calculate the position for the popover
                            var top = iframe.offsetTop + rect.top + rect.height;
                            var left = iframe.offsetLeft + rect.left + (rect.width / 2);

                            var popover = document.getElementById('customPopover');
                            popover.style.top = top + 'px';
                            popover.style.left = left + 'px';
                            popover.style.display = 'block';
                        } else {
                            // hidePopover(event);
                        }
                    }  else {
                        // hidePopover(event);
                    }
                }




                // Function to hide the popover
               

                // Attach event listener for text selection within the iframe
                iframeDocument.addEventListener('selectionchange', function () {
                    setTimeout(function () { // Timeout allows for accurate selection range calculation
                     
                        showPopover();
                    }, 0);
                });

                // Optionally, hide the popover when clicking outside
                document.addEventListener('click', function (event) {
                    if (!iframe.contains(event.target)) {
                        // hidePopover(event);
                    }
                });

                // Optionally, hide the popover when the iframe body loses focus
                iframeDocument.body.addEventListener('blur', function (event) {
                    // hidePopover(event);
                });
            });
        }});
        
    document.addEventListener('click', function (event) {
        hidePopover(event);
    });
    
</script>
{% endblock %}